version: '3.8'
services:
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017" # Exposed to localhost
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"   # Exposed to localhost